---
import RichTextRenderer from '@wollycms/astro/components/RichText.astro';
import type { BlockProps } from '@wollycms/astro';

interface Props extends BlockProps {
  fields: {
    body: any;
  };
}

const { fields } = Astro.props;
---

<div class="block block-rich-text">
  <RichTextRenderer content={fields.body} />
</div>
